<% if @user_stocks %>
  <div class='mt-3'>
    <h1 class='text-center'> Your stock </h1>
    <table class='table table-striped'>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Symbol</th>
          <th scope="col">Open price</th>
          <th scope="col">Delete from favorite</th>
        </tr>
      </thead>
      <tbody>
        <% @user_stocks.each do |stock| %>
          <tr>
            <td><%= stock.market.name %> </td>
            <td><%= stock.market.ticker %> </td>
            <td><%= stock.market.last_price %> </td>
            <td><%= link_to "delete", user_stock_path(stock), method: :delete, :class => 'btn btn-danger btn-sm ' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<%end%>
